body {
    padding-top: 40px;
    padding-bottom: 40px;
    <!-- background-color: #eee; -->

    <!-- for home page -->
    background-color: white;
    background: linear-gradient(to bottom right, white, #bcbdc4);
    height: auto;
    width:100%;
    overflow: scroll;
}

/** --------------------------- For main page --------------------------- */

input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    width: 350px;
    padding: 12px 20px 12px 40px;
    background-color: white;
    font-size: 16px;
    border-radius: 4px;
    left: 10%;
    position: relative;
}

button.dropbtn{
    background-color: none;
    cursor: pointer;
    font-size: 18px;
    border: none;
    outline: none;
    padding: 14px ;
    color: black;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.show{
    display: block;
}

.container-fluid{
    position: relative;
    width: 100%;
    background: white;
    top: 200px;
    left: 0;
    color: black;
}

.header{
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.container{
    margin-top: 80px;
    width: 100%;
    height: auto;
    border: 1px;
    position: absolute;
    overflow: scroll;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: auto;
    margin: auto;
}

/** --------------------------- For form part (profile and register.jsp) page --------------------------- */

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
