

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 45px 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-top: 20spx;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
    flex-flow: row;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}