<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://ec2-54-204-41-80.compute-1.amazonaws.com:5432/dbqkdo1ion775l
        </property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <mapping class="main.Model.AdminuserEntity"/>
        <mapping class="main.Model.CharityEntity"/>
        <mapping class="main.Model.OrdersEntity"/>
        <mapping class="main.Model.ProductsEntity"/>
        <mapping class="main.Model.ProductsoldEntity"/>
        <mapping class="main.Model.UseraddressEntity"/>
        <mapping class="main.Model.UsersEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>